<head>
  <style type="text/css">
    .left_box {
      float: left;
      width: 50%;
      height: 100%
      margin: 0;
    }
    .right_box {
      float: right;
      width: 50%;
      height: 100%;
      margin: 0;
    }
    .clear {
      clear: both;
    }
  </style>
</head>

<html>
<div class="left_box">
  <div>
    <iframe src={{frame_1}} frameborder="0" scrolling="no" width="100%" height="50%" align="left">
    </iframe>
  </div>
  <div>
    <iframe src={{frame_2}} frameborder="0" scrolling="no" width="100%" height="50%" align="right">
    </iframe>
  </div>
</div>

<div class="right_box">
  <div>
    <iframe src={{frame_3}} frameborder="0" scrolling="no" width="100%" height="50%" align="left">
    </iframe>
  </div>
  <div>
    <iframe src={{frame_4}} frameborder="0" scrolling="no" width="100%" height="50%" align="right">
    </iframe>
  </div>
</div>
</html>
